src/analytics/datafactory/pipelines/pl_orchestrate_core.json
{
  "name": "pl_orchestrate_core",
  "properties": {
    "description": "Orchestrate core tier ingestion across all enabled tenants",
    "activities": [
      {
        "name": "Get_Tenant_Registry",
        "type": "WebActivity",
        "dependsOn": [],
        "typeProperties": {
          "url": {
            "value": "@concat('https://', pipeline().parameters.keyVaultName, '.vault.azure.net/secrets/tenant-registry?api-version=7.4')",
            "type": "Expression"
          },
          "method": "GET",
          "authentication": {
            "type": "MSI",
            "resource": "https://vault.azure.net"
          }
        }
      },
      {
        "name": "ForEach_Tenant",
        "type": "ForEach",
        "dependsOn": [
          {
            "activity": "Get_Tenant_Registry",
            "dependencyConditions": ["Succeeded"]
          }
        ],
        "typeProperties": {
          "isSequential": false,
          "items": {
            "value": "@json(activity('Get_Tenant_Registry').output.value).tenants",
            "type": "Expression"
          },
          "activities": [
            {
              "name": "Run_Graph_Ingest",
              "type": "IfCondition",
              "dependsOn": [],
              "typeProperties": {
                "expression": {
                  "value": "@and(item().enabled, greater(length(intersection(item().core_entities, createArray('entra_users','entra_groups','entra_contacts','entra_devices','intune_managed_devices','teams_teams','entra_applications','entra_service_principals','entra_delegated_permission_grants'))), 0))",
                  "type": "Expression"
                },
                "ifTrueActivities": [
                  {
                    "name": "Execute_Graph_Job",
                    "type": "ExecutePipeline",
                    "typeProperties": {
                      "pipeline": {
                        "referenceName": "pl_run_container_job",
                        "type": "PipelineReference"
                      },
                      "parameters": {
                        "containerJobName": { "value": "@pipeline().parameters.graphJobName", "type": "Expression" },
                        "tenantKey": { "value": "@item().tenant_key", "type": "Expression" },
                        "scheduleTier": "core",
                        "keyVaultName": { "value": "@pipeline().parameters.keyVaultName", "type": "Expression" },
                        "storageAccountName": { "value": "@pipeline().parameters.storageAccountName", "type": "Expression" },
                        "maxParallelism": { "value": "@string(item().max_parallelism)", "type": "Expression" },
                        "resourceGroupName": { "value": "@pipeline().parameters.resourceGroupName", "type": "Expression" },
                        "subscriptionId": { "value": "@pipeline().parameters.subscriptionId", "type": "Expression" }
                      },
                      "waitOnCompletion": true
                    }
                  }
                ]
              }
            },
            {
              "name": "Run_EXO_Ingest",
              "type": "IfCondition",
              "dependsOn": [],
              "typeProperties": {
                "expression": {
                  "value": "@and(item().enabled, greater(length(intersection(item().core_entities, createArray('exo_mailboxes','exo_contacts','exo_mail_users','exo_distribution_groups','exo_unified_groups'))), 0))",
                  "type": "Expression"
                },
                "ifTrueActivities": [
                  {
                    "name": "Execute_EXO_Job",
                    "type": "ExecutePipeline",
                    "typeProperties": {
                      "pipeline": {
                        "referenceName": "pl_run_container_job",
                        "type": "PipelineReference"
                      },
                      "parameters": {
                        "containerJobName": { "value": "@pipeline().parameters.exoJobName", "type": "Expression" },
                        "tenantKey": { "value": "@item().tenant_key", "type": "Expression" },
                        "scheduleTier": "core",
                        "keyVaultName": { "value": "@pipeline().parameters.keyVaultName", "type": "Expression" },
                        "storageAccountName": { "value": "@pipeline().parameters.storageAccountName", "type": "Expression" },
                        "maxParallelism": { "value": "@string(item().max_parallelism)", "type": "Expression" },
                        "resourceGroupName": { "value": "@pipeline().parameters.resourceGroupName", "type": "Expression" },
                        "subscriptionId": { "value": "@pipeline().parameters.subscriptionId", "type": "Expression" }
                      },
                      "waitOnCompletion": true
                    }
                  }
                ]
              }
            },
            {
              "name": "Run_SPO_Ingest",
              "type": "IfCondition",
              "dependsOn": [],
              "typeProperties": {
                "expression": {
                  "value": "@and(item().enabled, greater(length(intersection(item().core_entities, createArray('spo_sites'))), 0))",
                  "type": "Expression"
                },
                "ifTrueActivities": [
                  {
                    "name": "Execute_SPO_Job",
                    "type": "ExecutePipeline",
                    "typeProperties": {
                      "pipeline": {
                        "referenceName": "pl_run_container_job",
                        "type": "PipelineReference"
                      },
                      "parameters": {
                        "containerJobName": { "value": "@pipeline().parameters.spoJobName", "type": "Expression" },
                        "tenantKey": { "value": "@item().tenant_key", "type": "Expression" },
                        "scheduleTier": "core",
                        "keyVaultName": { "value": "@pipeline().parameters.keyVaultName", "type": "Expression" },
                        "storageAccountName": { "value": "@pipeline().parameters.storageAccountName", "type": "Expression" },
                        "maxParallelism": { "value": "@string(item().max_parallelism)", "type": "Expression" },
                        "resourceGroupName": { "value": "@pipeline().parameters.resourceGroupName", "type": "Expression" },
                        "subscriptionId": { "value": "@pipeline().parameters.subscriptionId", "type": "Expression" }
                      },
                      "waitOnCompletion": true
                    }
                  }
                ]
              }
            }
          ]
        }
      }
    ],
    "parameters": {
      "keyVaultName": { "type": "string" },
      "storageAccountName": { "type": "string" },
      "graphJobName": { "type": "string" },
      "exoJobName": { "type": "string" },
      "spoJobName": { "type": "string" },
      "resourceGroupName": { "type": "string" },
      "subscriptionId": { "type": "string" }
    },
    "variables": {}
  }
}
