src/analytics/datafactory/pipelines/pl_orchestrate_core_enrichment.json
{
  "name": "pl_orchestrate_core_enrichment",
  "properties": {
    "description": "Orchestrate core enrichment tier ingestion across all enabled tenants",
    "activities": [
      {
        "name": "Get_Tenant_Registry",
        "type": "WebActivity",
        "dependsOn": [],
        "typeProperties": {
          "url": {
            "value": "@concat('https://', pipeline().parameters.keyVaultName, '.vault.azure.net/secrets/tenant-registry?api-version=7.4')",
            "type": "Expression"
          },
          "method": "GET",
          "authentication": {
            "type": "MSI",
            "resource": "https://vault.azure.net"
          }
        }
      },
      {
        "name": "ForEach_Tenant",
        "type": "ForEach",
        "dependsOn": [
          {
            "activity": "Get_Tenant_Registry",
            "dependencyConditions": ["Succeeded"]
          }
        ],
        "typeProperties": {
          "isSequential": false,
          "items": {
            "value": "@json(activity('Get_Tenant_Registry').output.value).tenants",
            "type": "Expression"
          },
          "activities": [
            {
              "name": "Run_Graph_Enrichment",
              "type": "IfCondition",
              "dependsOn": [],
              "typeProperties": {
                "expression": {
                  "value": "@and(item().enabled, greater(length(intersection(item().core_enrichment_entities, createArray('entra_group_members', 'entra_group_owners', 'teams_channels'))), 0))",
                  "type": "Expression"
                },
                "ifTrueActivities": [
                  {
                    "name": "Execute_Graph_Job",
                    "type": "ExecutePipeline",
                    "typeProperties": {
                      "pipeline": { "referenceName": "pl_run_container_job", "type": "PipelineReference" },
                      "parameters": {
                        "containerJobName": { "value": "@pipeline().parameters.graphJobName", "type": "Expression" },
                        "tenantKey": { "value": "@item().tenant_key", "type": "Expression" },
                        "scheduleTier": "core_enrichment",
                        "keyVaultName": { "value": "@pipeline().parameters.keyVaultName", "type": "Expression" },
                        "storageAccountName": { "value": "@pipeline().parameters.storageAccountName", "type": "Expression" },
                        "maxParallelism": { "value": "@string(item().max_parallelism)", "type": "Expression" },
                        "resourceGroupName": { "value": "@pipeline().parameters.resourceGroupName", "type": "Expression" },
                        "subscriptionId": { "value": "@pipeline().parameters.subscriptionId", "type": "Expression" }
                      },
                      "waitOnCompletion": true
                    }
                  }
                ]
              }
            },
            {
              "name": "Run_EXO_Enrichment",
              "type": "IfCondition",
              "dependsOn": [],
              "typeProperties": {
                "expression": {
                  "value": "@and(item().enabled, greater(length(intersection(item().core_enrichment_entities, createArray('exo_group_members'))), 0))",
                  "type": "Expression"
                },
                "ifTrueActivities": [
                  {
                    "name": "Execute_EXO_Job",
                    "type": "ExecutePipeline",
                    "typeProperties": {
                      "pipeline": { "referenceName": "pl_run_container_job", "type": "PipelineReference" },
                      "parameters": {
                        "containerJobName": { "value": "@pipeline().parameters.exoJobName", "type": "Expression" },
                        "tenantKey": { "value": "@item().tenant_key", "type": "Expression" },
                        "scheduleTier": "core_enrichment",
                        "keyVaultName": { "value": "@pipeline().parameters.keyVaultName", "type": "Expression" },
                        "storageAccountName": { "value": "@pipeline().parameters.storageAccountName", "type": "Expression" },
                        "maxParallelism": { "value": "@string(item().max_parallelism)", "type": "Expression" },
                        "resourceGroupName": { "value": "@pipeline().parameters.resourceGroupName", "type": "Expression" },
                        "subscriptionId": { "value": "@pipeline().parameters.subscriptionId", "type": "Expression" }
                      },
                      "waitOnCompletion": true
                    }
                  }
                ]
              }
            }
          ]
        }
      }
    ],
    "parameters": {
      "keyVaultName": { "type": "string" },
      "storageAccountName": { "type": "string" },
      "graphJobName": { "type": "string" },
      "exoJobName": { "type": "string" },
      "resourceGroupName": { "type": "string" },
      "subscriptionId": { "type": "string" }
    },
    "variables": {}
  }
}
